body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  width: calc(100% - 20px);
  margin-bottom: 20px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
}

button:hover {
  background-color: #45a049;
}

#response {
  margin-top: 20px;
  font-size: 1rem;
  color: #333;
}

#enterTournamentBtn {
  margin-top: 20px;
  padding: 10px;
  font-size: 1rem;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

#enterTournamentBtn:hover {
  background-color: #007bb5;
}
